#showMore, #statusDone, #editBtn {
   @include font(400, 14, 24);
  color: #838383;

  &:hover {
    color: black;
  }
}

.card {
  &-title {
    @include font(700, 16, 24);
  }

  &-subtitle, &-status {
    @include font(400, 14, 24);
  }
}

.card-storage {
  padding-bottom: 20px;

  &__container {
    padding-bottom: 20px;
    min-height: 400px;
    @include flexCenter;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__text-empty-storage {
    @include font(400, 32, 24);
    color: #838383;
  }
}

.card-template {
  @include font(400, 14, 20);
  width: 275px;
  max-height: 420px;
  background-color: $card-bg;
  padding: 8px 16px 8px 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

  &:hover {
    box-shadow: $card-shadow-hover;
  }

  & .accordion-button {
    background-color: inherit;
    color: black;
    padding: 4px;
    border: 1px solid inherit;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  & .list-group-item {
    background-color: inherit;
    padding: 4px;
    border: none;
  }
}

.card-cardiologist {
  border-left: $border-cardiologist;
}

.card-dentist {
  border-left: $border-dentist;
}

.card-therapist {
  border-left: $border-therapist;
}

.done-visit {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.main-image{
  margin-top: 50px;
  width: 75vw;
  height: 75vh;
  background-image: url("../../assets/img/main-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
}