@font-face{
	font-family: OpenSans;
	font-display: swap;
	src: url("../../assets/fonts/OpenSans-Regular.woff2") format("woff2"), url("../../assets/fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: OpenSans;
	font-display: swap;
	src: url("../../assets/fonts/OpenSans-Bold.woff2") format("woff2"), url("../../assets/fonts/OpenSans-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
