@mixin font($weight, $size, $lineHeight) {
  font-weight: $weight;
  font-size: $size + px;
  line-height: $lineHeight + px;
}

@mixin flexCenter($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

