//fonts
$fontFamily: 'Open Sans' ,sans-serif;
$fontWeight: 400;
$fontSize: 16px;
$lineHeight: 20px;

//color-text
$primary-txt: #353535;
$secondary-txt: #2d6da3;
$ordinary-txt: #ffffff;
$logo-hover: #2d6da3;

//bg-color
$primary-bg: #ebedf1;
$header-bg: #1c9bda;
$bnt-bg: #F4F4F4;
$btn-hover-bg: #2d6da3;
$filter-bg: #c9c6c4;
$card-bg:  #fff;

//button-color
$primary-btn: #8D81AC;
$hover-btn: #FFFFFF;

//box-shadow
$ordinary-shadow: 0 1px 2px 0 rgba(50,50,50,.4);
$primary-shadow: 0 2px 4px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);

$card-shadow-hover: 0 8px 12px rgba(0,0,0,0.25), 0px 10px 10px rgba(0,0,0,0.22);

//border
$border-cardiologist: 20px solid #00c097;
$border-dentist: 20px solid #ffd300;
$border-therapist: 20px solid #f29987;

//sizes
$maxWidthContainer: 1200px;
$containerPadding: 0 20px;


